<div class="container mt-4">
    <div class="filter-container" style="max-width: 300px;">
      <div class="mb-3">
        <label>Выберите поле для фильтрации:</label>
        <select [(ngModel)]="query.filter.searchInfo.searchField" class="form-control">
          <option *ngFor="let option of filterFieldOptions" [value]="option">{{ mapFilterFieldToRus(option) }}</option>
        </select>
        <div *ngIf="query.filter.searchInfo.searchField === filterFileds.BirthDate || query.filter.searchInfo.searchField === filterFileds.DateOfEmployment">
          <label>Выберите дату:</label>
          <input type="date" [(ngModel)]="query.filter.searchInfo.searchText" class="form-control">
        </div>
        <div *ngIf="query.filter.searchInfo.searchField !== filterFileds.BirthDate && query.filter.searchInfo.searchField !== filterFileds.Salary && query.filter.searchInfo.searchField !== filterFileds.DateOfEmployment">
          <label>Введите текст:</label>
          <input type="text" [(ngModel)]="query.filter.searchInfo.searchText" class="form-control">
        </div>
        <div *ngIf="query.filter.searchInfo.searchField === filterFileds.Salary">
          <label>Введите заработную плату:</label>
          <input type="number" [(ngModel)]="query.filter.searchInfo.searchText" class="form-control" min="0" step="100">
        </div>
        <div class="mb-3">
          <label>Размер страницы:</label>
          <input type="number" [(ngModel)]="query.pageSize" class="form-control" min="1" step="1" (change)="pageSizeChangeEvent()">
        </div>
        <button class="btn btn-primary" (click)="applyFilter()">Применить фильтр</button>
      </div>
      
    </div>
    
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered align-middle">
      <thead class="thead-dark">
        <tr class="table-secondary">
          <th (click)="sortColumn(filterFileds.Department)" [class.active]="query.filter.orderInfo.orderField === filterFileds.Department">Отдел 
            <span *ngIf="query.filter.orderInfo.orderField === filterFileds.Department">
              <ion-icon *ngIf="!query.filter.orderInfo.ascending" name="chevron-up-outline"></ion-icon>
              <ion-icon *ngIf="query.filter.orderInfo.ascending" name="chevron-down-outline"></ion-icon>
            </span>
          </th>
          <th (click)="sortColumn(filterFileds.LastName)" [class.active]="query.filter.orderInfo.orderField === filterFileds.LastName">Фамилия
            <span *ngIf="query.filter.orderInfo.orderField === filterFileds.LastName">
              <ion-icon *ngIf="!query.filter.orderInfo.ascending" name="chevron-up-outline"></ion-icon>
              <ion-icon *ngIf="query.filter.orderInfo.ascending" name="chevron-down-outline"></ion-icon>
            </span>
          </th>
          <th (click)="sortColumn(filterFileds.FirstName)" [class.active]="query.filter.orderInfo.orderField === filterFileds.FirstName">Имя
            <span *ngIf="query.filter.orderInfo.orderField === filterFileds.FirstName">
              <ion-icon *ngIf="!query.filter.orderInfo.ascending" name="chevron-up-outline"></ion-icon>
              <ion-icon *ngIf="query.filter.orderInfo.ascending" name="chevron-down-outline"></ion-icon>
            </span>
          </th>
          <th (click)="sortColumn(filterFileds.MiddleName)" [class.active]="query.filter.orderInfo.orderField === filterFileds.MiddleName">Отчество
            <span *ngIf="query.filter.orderInfo.orderField === filterFileds.MiddleName">
              <ion-icon *ngIf="!query.filter.orderInfo.ascending" name="chevron-up-outline"></ion-icon>
              <ion-icon *ngIf="query.filter.orderInfo.ascending" name="chevron-down-outline"></ion-icon>
            </span>
          </th>
          <th (click)="sortColumn(filterFileds.BirthDate)" [class.active]="query.filter.orderInfo.orderField === filterFileds.BirthDate">Дата рождения
            <span *ngIf="query.filter.orderInfo.orderField === filterFileds.BirthDate">
              <ion-icon *ngIf="!query.filter.orderInfo.ascending" name="chevron-up-outline"></ion-icon>
              <ion-icon *ngIf="query.filter.orderInfo.ascending" name="chevron-down-outline"></ion-icon>
            </span>
          </th>
          <th (click)="sortColumn(filterFileds.DateOfEmployment)" [class.active]="query.filter.orderInfo.orderField === filterFileds.DateOfEmployment">Дата устройства на работу
            <span *ngIf="query.filter.orderInfo.orderField === filterFileds.DateOfEmployment">
              <ion-icon *ngIf="!query.filter.orderInfo.ascending" name="chevron-up-outline"></ion-icon>
              <ion-icon *ngIf="query.filter.orderInfo.ascending" name="chevron-down-outline"></ion-icon>
            </span>
          </th>
          <th (click)="sortColumn(filterFileds.Salary)" [class.active]="query.filter.orderInfo.orderField === filterFileds.Salary">Заработная плата
            <span *ngIf="query.filter.orderInfo.orderField === filterFileds.Salary">
              <ion-icon *ngIf="!query.filter.orderInfo.ascending" name="chevron-up-outline"></ion-icon>
              <ion-icon *ngIf="query.filter.orderInfo.ascending" name="chevron-down-outline"></ion-icon>
            </span>
          </th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="table-row fixed-height-row table-success">
          <td colspan="7"></td>
          <td>
            <button class="btn btn-success" [disabled]="loading" (click)="openAddEmployeeModal()">Добавить сотрудника</button>
          </td>
        </tr>
        <ng-container *ngIf="!loading">
          <tr *ngFor="let employee of employees | paginate: { itemsPerPage: query.pageSize, currentPage: query.page, totalItems: totalItems }; let i = index" class="table-row fixed-height-row table-light">
            <td>{{ employee.department }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.middleName }}</td>
            <td>{{ employee.birthDate }}</td>
            <td>{{ employee.dateOfEmployment }}</td>
            <td>{{ employee.salary }}</td>
            <td>
              <div class="btn-group" role="group">
                <button class="btn btn-warning" (click)="openEditEmployeeModal(employee)">Редактировать</button>
                <button class="btn btn-danger" (click)="openDeleteConfirmationModal(employee)">Удалить</button>
              </div>
            </td>
          </tr>
          <ng-container *ngIf="employees && employees.length < query.pageSize">
            <tr *ngFor="let row of createEmptyArray(query.pageSize - employees.length)" class="table-row fixed-height-row">
                <td colspan="8"></td>
            </tr>
          </ng-container>
        </ng-container>
        <tr *ngIf="loading">
          <td colspan="8">
            <app-loading ></app-loading>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls *ngIf="!loading" (pageChange)="pageChangeEvent($event)" nextLabel="Следующая" previousLabel="Предыдущая"></pagination-controls>
</div>
  
  <app-modal id="add-employee" title="Добавить сотрудника">
    <app-add-employee (employeeAdded)="onSuccess()"></app-add-employee>
  </app-modal>

  <app-modal id="edit-employee" title="Редактировать сотрудника">
    <app-edit-employee *ngIf="selectedEmployee"  [employee]="selectedEmployee" (employeeEdited)="onSuccess()"></app-edit-employee>
  </app-modal>

  <app-modal id="delete-employee" title="Удалить сотрудника">
    <app-delete-employee *ngIf="selectedEmployee" [employee]="selectedEmployee" (employeeDeleted)="onSuccess()"></app-delete-employee>
  </app-modal>
  