@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
}
:host {
  --clr: #222327;
}
.block-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: var(--clr);
  margin-bottom: 10px;
}
.navigation {
  position: relative;
  width: 200px;
  height: 90px;
  background: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navigation ul {
  display: flex;
  margin-left: 15%;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}
.navigation ul li.active a .icon {
  transform: translateY(55px);
}
.navigation ul li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 600;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(-10px);
}
.indicator {
  position: absolute;
  top: 60%;
  width: 70px;
  height: 70px;
  background: #23fd53;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 17%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 10px 0 0 var(--clr);
}
.indicator::after {
  content: "";
  position: absolute;
  top: 17%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-left-radius: 20px;
  box-shadow: -1px 10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}

.section-enter {
  opacity: 0;
  transform: translateX(100%);
}

.section-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.section-exit {
  opacity: 1;
  position: absolute;
}

.section-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 300, transform 300;
}
.horisontal-block {
  display: flex;
}
.margin-left-5 {
  margin-left: 5px;
}