.form-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    input{
        margin: 5px;
    }
    div{
        margin: 5px;
    }
}